include ../mixins/card
.container
    .section1 
        .section1__content
            h2 Designed to reduce single-use plastic waste in your daily routine. Scientifically-proven to perform.
            +card()
            +card()
            +card()
            +card()
            
            
            

