mixin card(image='background-image: url("./assets/imgs/card1.png")',title,description)
  .card(style='background-image: url("./assets/imgs/card1.png")')
    .card__inner
      .card__content
        span.card__title=title
        span.card__description=description
      button.card__btn Quck Add